*::before,
*::after {
    box-sizing: border-box;
}



body {
    margin: 0;
    background: linear-gradient(to right, #611919,#BE32AB);
    height: 100vh;
}

.calculator {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;


}

.span-two {
    grid-column: span 2;
}

.display {
    grid-column:span 4;
    background-color:rgb(207, 205, 205);
    
    
}
