body {
    margin: 0;
    background: linear-gradient(to right, #611919, #BE32AB);
    height: 100vh;
    width: 100vw;
    place-items: center;
    align-items: center;
}


.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 10px;
    z-index: 1000;
}

.history {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 2rem;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
   text-align: center;
}

.open{
  animation-name: sidebar-open;
  animation-duration: 0.5s;
  left: 0;
}

.close{
  animation-name: sidebar-close;
  animation-duration: 0.5s;
  left: -400px;
}


@keyframes sidebar-open {
  0% {
    left: -400px;
  }
  
  100% {
    left: 0;
  }
}

@keyframes sidebar-close {
  0% {
    left: 0;
  }
  
  100% {
    left: -400px;
  }
}